*
{
    border:             0;
    margin:             0;
    padding:            0;
}

#header
{
    height:             auto;
}

#homeNavBar
{
    width:              75%;
    margin-bottom:      5%;
}

#header a
{
    color:              #D8E2FF;
    text-decoration:    none;
}

.navLinksLeft
{
    margin-left:        25%;
}

#header li
{
    display:            inline-block;
    margin-right:       15px;
    margin-top:         20px;
    font-family:        "Segoe UI Semibold", sans-serif;
}

#homeNavBar a:hover
{
    color:              #ffffff;
    box-shadow:         0px 3px #ffffff;
}

html
{
    /*background:         linear-gradient(#4271ff,#00e5ff); -- linear gradient of blue to light blue*/
    background:         linear-gradient(#000000,#808080); /*gradient of black to dark grey */
    min-height:         100%;
}

#homepage h1
{
    font-family:        "Segoe UI Semibold", sans-serif;
    color:              #ffffff;
    text-align:         center;
    position:           relative;
    top:                30px;
}

#aboutME .aboutMeDescription, .LearnedLanguages, h1
{
    font-family:        "Segoe UI Semibold", sans-serif;
    color:              #ffffff;
}

.imageProj
{
    opacity:            1;
    display:            block;
    width:              100%;
    height:             auto;
    transition:         .5s ease;
    backface-visibility: hidden;
}

#projects #topCard
{
    display:        block;
    margin-left:    47%;
    margin-top:     10%;
}

#projects p
{
    color:          #ffffff;
}

#projects #radialPicker
{
    margin-top:    10px;
    margin-left:   50%;
    margin-right:  50%;
}